.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-weight: bold;
}

.form_input {
  height: 60px;
  width: 300px;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.form_container {
  display: flex;
}

.form_button {
  margin-left: 7px;
  height: 60px;
  font-size: 30px;
  cursor: pointer;
  background-color: #32a600;
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  border-color: #32a600;
  font-weight: bold;
}

.form_button:hover {
  background-color: transparent;
  color: black;
}

.result {
  font-size: 50px;
  font-weight: bold;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
